/*---Import Fonts---*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');



/*---Reset---*/ 
* {
    margin: 0;
    padding: 0;
}



/*---Header---*/
header {
    display: flex;
    justify-content: space-evenly;
    background-color: #08b377;
    flex-wrap: wrap;
    }

.mainLogo {
    height: 180px;
    width: 180px;
}

header nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    }

header nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    text-decoration: none;
    flex-wrap: wrap;
}

header nav ul li{
    margin: 15px;
    padding: 10px;
    }

header nav ul li a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1.5rem;
    }



/*---Main---*/

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 90vh;
    background-image: url(../img/inicio_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }

.hero h2 {
    text-align: center;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    background: black;
    opacity: 0.5;

}

.hero p {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    background: black;
    opacity: 0.5;
    }

.articles {
    display:flex;
    background-color: #209A67;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    }

.articleContents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.articleContents h2 {
    margin-bottom: 10px;
}
.articleContents p {
    margin-top: 10px;
}

.equipo {
    text-align: center;
    background-color: #07B394;
    color: white;
    font-family: 'Open Sans', sans-serif;
    }

.equipo h2, .servicios h2 {
    font-weight: 600;
    font-size: 1.5rem;
    padding: 10px;
}

.equipo h3, .servicios h3 {
    margin: 10px;
    font-weight: 600;
    font-size: 1.25rem;
}

.equipo h4, .servicios h4 {
    font-weight: 600;
    margin: 10px;
    font-size: 1rem;
    }

.equipo p, .servicios p {
    font-weight: 400;
    font-size: 0.85rem;    
    }

.equipo div {
    width: 200px;
    padding: 20px;
    display: inline-block;
    }

.servicios {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    background-color: #209A67;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.servicios h2 {
    text-align: center;
}

.serviciosLine1 {
    display: flex;
    }     

.serviciosLine1 div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    }

.serviciosLine1Card {
    margin: 20px, 10px, 20px, 10px;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.serviciosLine1Card p {
    padding: 20px;
}

.serviciosLine2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }

.serviciosLine2Card {
    margin: 20px, 10px, 20px, 10px;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
}

.serviciosLine2Card div {
    padding: 20px;
}

.contacto {
    background-color: #07B394;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    display:flex;
    justify-content: space-evenly   ;
}

.contactoForm {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactoForm fieldset {
    padding: 10px;
    border: none;
} 

fieldset div {
    margin: 10px, 5px;
}

label {
    display: flex;
    justify-content: space-between;
}

.formButtons {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}


.contactoForm h2, .contactoMap h2 {
    padding: 10px;;
    font-weight: 600;
    text-align: center;
}

.contactoMap {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    }

.contactoMap p,iframe {
    padding: 10px;
    text-align: right;
}

.contactoMap div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}






/*---Footer---*/
footer {
    background-color:  #08b377;
    display: flex;
    justify-content: space-evenly;
}

footer ul li {
    display: inline;
    }

.socialLogo {
    height: 60px;
    width: 60px;
    margin: 20px;
    padding: 20px;    
}