/*---Import Fonts---*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');


/*---Reset---*/ 
* {
    margin: 0;
    padding: 0;
}

/*---Header---*/
header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: space-evenly;
    background-color: #08b377;
    flex-wrap: wrap;
    }

.main-logo {
    grid-column: 1;
    height: 180px;
    width: 180px;
    transition: 2s ease-out;
}

.main-logo:hover {
    transform: translateX(20px) translateY(20px) scale(1.3);
}

header nav {
    grid-column:2/6;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    }

header nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    flex-wrap: wrap;
}

header nav ul li{
    margin: 15px;
    padding: 10px;
    transition: 1s ease-out;
    }

header nav ul li a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1.5rem;
    }

    header nav ul li:hover {
        transform:scale(1.2);
        text-shadow: 4px 4px 2px rgba(0,0,0,0.6);  
    }    

/*---Main---*/

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 90vh;
    background-image: url(../img/inicio_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }

.hero h2 {
    text-align: center;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    background: black;
    opacity: 0.5;

}

.hero p {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    background: black;
    opacity: 0.5;
    }

.articles {
    display:flex;
    background-color: #209A67;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    }

.article-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    margin: 20px;
    padding: 40px;
}

.article-contents h2 {
    margin-bottom: 10px;
}

.article-contents p {
    margin-top: 10px;
}

.equipo {
    text-align: center;
    background-color: #07B394;
    color: white;
    font-family: 'Open Sans', sans-serif;
    }

.equipo-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.equipo-cards-card1 img, 
.equipo-cards-card2 img,
.equipo-cards-card3 img,
.equipo-cards-card4 img {
    transition: 1s ease-in-out;
    }

.equipo-cards-card1:hover img, 
.equipo-cards-card2:hover img,
.equipo-cards-card3:hover img,
.equipo-cards-card4:hover img {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        transform:scale(1.1);
}

.equipo h2, .servicios h2 {
    font-weight: 600;
    font-size: 1.5rem;
    padding: 10px;
}

.equipo h3, .servicios h3 {
    margin: 10px;
    font-weight: 600;
    font-size: 1.25rem;
}

.equipo h4, .servicios h4 {
    font-weight: 600;
    margin: 10px;
    font-size: 1rem;
    }

.equipo p, .servicios p {
    font-weight: 400;
    font-size: 0.85rem;    
    }

.equipo div {
    width: 200px;
    padding: 20px;
    }

.servicios {
    background-color: #209A67;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.servicios h2 {
    text-align: center;
}

.servicios-line1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }     

.servicios-line1 div {
    display: flex;
    flex-direction: column;
    }

.servicios-line1-card {
    margin: 20px, 10px, 20px, 10px;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.servicios-line1-card p {
    padding: 20px;
}

.servicios-line2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }

.servicios-line2-card {
    margin: 20px, 10px, 20px, 10px;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
}

.servicios-line2-card div {
    padding: 20px;
}

.contacto {
    background-color: #07B394;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 25px;
    display:flex;
    justify-content: space-evenly   ;
}

.contacto-form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacto-form fieldset {
    padding: 10px;
    border: none;
} 

fieldset div {
    margin: 10px, 5px;
}

label {
    display: flex;
    justify-content: space-between;
}

.form-buttons {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}


.contacto-form h2, .contacto-map h2 {
    padding: 10px;;
    font-weight: 600;
    text-align: center;
}

.contacto-map {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    }

.contacto-map p,iframe {
    padding: 10px;
    text-align: right;
}

.contacto-map div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*---Footer---*/
footer {
    background-color:  #08b377;
    display: flex;
    justify-content: space-evenly;
}

footer ul li {
    display: inline;
    }

.social-logo {
    height: 60px;
    width: 60px;
    margin: 20px;
    padding: 20px;
    transition: 2s ease-out;
}

.social-logo:hover {
    transform:scale(1.3);
} 

/*---Media Queries---*/

@media screen and (max-width:1120px) {
    header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        }
    .main-logo {
        grid-row: 1;
        height: 120px;
        width: 120px;
        }
    header nav {
        grid-column: 1;
        grid-row: 2;
    }
    header nav ul li a {
        font-size: 1.3rem;
    }
    .hero h2, .article-contents h2 {
        font-size: 1.6rem;
    }
    .hero p, .article-contents p {
        font-size: 1rem;
    }
}

@media screen and (max-width:1000px) {
    .main-logo {
        height: 100px;
        width: 100px;
    }
    header nav ul {
        align-items: center;
        }
    header nav ul li a {
        font-size: 1.1rem;
    }    
    .hero h2, .article-contents h2 {
        font-size: 1.4rem;
    }
    .hero p , .article-contents p{
        font-size: 0.8rem;
    }
    .articles {
        flex-direction: column;
    }
    .equipo-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }
    .equipo-cards-card1 {
        grid-row: 1;
        grid-column: 1;
    }
    .equipo-cards-card2 {
        grid-row: 1;
        grid-column: 2;
    }
    .equipo-cards-card3 {
        grid-row: 2;
        grid-column: 1;
    }
    .equipo-cards-card4 {
        grid-row: 2;
        grid-column: 2;
    }
}

@media screen and (max-width:760px) {
    header nav ul {
        flex-direction: column;
        }
    header nav ul li {
        margin: 0;
        padding: 0;
        }
        header nav ul li a {
            font-size: 0.8rem;
        }
        .article-contents {
            margin: 0;
        }
        .social-logo {
            height: 50px;
            width: 50px;
            margin: 15px;
            padding: 15px;    
        }
    }

@media screen and (max-width:480px) {
    .equipo-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }
    .equipo-cards-card1 {
        grid-row: 1;
        grid-column: 1;
        }
    .equipo-cards-card2 {
        grid-row: 2;
        grid-column: 1;
    }
    .equipo-cards-card3 {
        grid-row: 3;
        grid-column: 1;
    }
    .equipo-cards-card4 {
        grid-row: 4;
        grid-column: 1;
    }
}

    .social-logo {
        height: 40px;
        width: 40px;
        margin: 10px;
        padding: 10px;
    }